.newsDiv{
    width: 250px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid grey;
}

.newsDiv p{
    font-size: 14px;
}


@media (max-width: 1050px){
    .newsDiv{
        display: none;
    }

}